.header {
  background-color: var(--color-black);
}

.header-container {
  padding: 25px 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: .8rem;
}

.nav {
  display: flex;
  gap: 2rem;
}

.logo,
.nav a {
  color: var(--color-white);
}

.nav a.active-link {
  color: var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
  padding-bottom: 4px;
  cursor: default;
}
