.about {
  margin-top: 2rem ;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.about-text {
  max-width: 50rem;
  width: 100%;
  text-align: center;
  line-height: 1.5;
}

.back-button {
  width: fit-content;
  margin-bottom: 2rem;
  padding: .5rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 6px;
  border: solid 1px transparent;
  color: var(--color-accent);
  background-color: inherit;
  transition: border-color .3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .back-button:hover {
    border-color: var(--color-accent);
    cursor: pointer;
  }
}
