:root {
  --container-max-width: 1440px;
  --container-min-width: 380px;
  --color-black: rgb(34 34 34);
  --color-black-40: rgb(34 34 34 / .4);
  --color-accent: rgb(48 119 212);
  --color-white: rgb(255 255 255);
  --color-gray: rgb(214 214 214);
  --color-gray-light: rgb(247 247 247);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-y: auto;
  height: 100%;
  font-family: Arial, sans-serif;
  color: var(--color-black);
  background-color: var(--color-gray-light);
}

body,
app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
}

.container {
  position: relative;
  overflow: hidden;
  min-width: var(--container-min-width);
  max-width: var(--container-max-width);
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.main {
  flex: 1;
}
