.details {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.details-button {
  width: 10rem;
  margin-bottom: 2rem;
  padding: .7rem;
  font-size: 1rem;
  text-align: start;
  border: none;
  background-color: inherit;
}

.details-text {
  max-width: 40rem;
  width: 100%;
}
