.details {
  margin-bottom: 3rem;
  display: flex;
  gap: 2rem;
}

.details-img {
  width: 28rem;
  object-fit: cover;
  display: block;
  border-radius: 6px;
}

.details-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: .4rem;
}

.details-button {
  width: fit-content;
  padding: .5rem;
  font-size: 1rem;
  text-align: start;
  border-radius: 6px;
  border: solid 1px transparent;
  color: var(--color-accent);
  background-color: inherit;
  transition: border-color .3s ease;
}

.details-title {
  font-size: 2rem;
}

.details-rating {
  width: fit-content;
  margin-bottom: 1rem;
  padding: 2px 6px 5px 2px;
  border-radius: 6px;
  background-color: var(--color-gray);
}

.details-rating,
.details-subtitle {
  font-weight: 600;
}

.details-text {
  max-width: 50rem;
  width: 100%;
  padding-top: .7rem;
  margin-top: .7rem;
  border-top: solid 2px var(--color-gray);
  line-height: 1.5;
}

@media (hover: hover) and (pointer: fine) {
  .details-button:hover {
    border-color: var(--color-accent);
    cursor: pointer;
  }
}
